<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>AriGo AirGaurd Pro</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="CSS/styles.css">
</head>
<style>
    a{
        font-weight: 700;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        
        <div class="boxLogo">
          <p style="font-size: 3em; color: #777;padding: 2px;margin: auto;">
            <img src="images/logo.jpeg" alt="" style="height: 65px;margin-right: 4px;">AriGo AirGaurd Pro
          </p>
        </div>
        
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="signin"><a href="signin">SIGN IN</a></li>
        <li id="signup"><a href="signup">SIGN UP</a></li>
      </ul>
    </div>
  </nav>
</body>

</html>
